[paths]
source =
   src/ways
   */site-packages/ways

[run]
branch = true
source =
    ways
    tests
parallel = false

[report]
show_missing = true
precision = 2
omit =
	*migrations*
	src/ways/core*
