[paths]
source =
   src/ways
   */site-packages/ways

[run]
branch = true
source =
    ways
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
	*migrations*
	src/ways/core*
	src/ways/helper/pylev.py
	src/ways/helper/demo.py
