prune docs
graft src
prune ci
prune tests

exclude .bumpversion.cfg
exclude .coveragerc
exclude .cookiecutterrc
exclude .editorconfig
exclude .pylintrc
exclude .isort.cfg
exclude .pydocstylerc
exclude tox.ini
exclude appveyor.yml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

global-exclude *.py[cod] __pycache__ *.so *.dylib *.ropeproject*
